.Cart {
  width: 80%;
  margin: auto;
}

.Sum {
  display: flex;
  justify-content: flex-end;
  margin: 1%;
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
}

.EmptyCart {
  text-align: center;
  font-size: 18px;
}
